/*
#a8a8a8
#7c7c7c
#565656
#333333
#55ccff
*/

body {
  background-color: #7c7c7c;
  color: #a8a8a8;
  font-size: 24px;
}
.section {
  background-color: #333;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.1rem;
}
a {
  color: #5cf;
}

.App {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.conditions img {
  vertical-align: middle;
}

.hour-forecast-list>li,
.day-forecast-list>li {
  border-top: 1px solid #5cf;
  padding: 1rem;
}
.hour-forecast-list>li:first-child,
.day-forecast-list>li:first-child {
  border-top: none;
}

.day-forecast-list .uv-index {
  display: block;
}

#open-weather-logo {
  max-width: 200px;
}
